[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "nanojit"]
	path = nanojit
	url = https://github.com/gundermanc/nanojit.git
[submodule "bdwgc"]
	path = bdwgc
	url = https://github.com/ivmai/bdwgc.git
